:root {
    --circleSize: 125px;
}

.info {
    color: aliceblue;
    position: fixed;
    height: 100%;
    top: 0;
    width: 600px;
    background-color: #303030;
    border-style: solid;
    border-width: 1px;
    border-color: #191919;
    z-index: -1;
}

.profile-container {
    display: flex;
    padding-bottom: 2em;
    border-bottom-color: darkslategrey;
    border-bottom-style: solid;
    border-width: 2px;
}

.profile-icon-wrapper {
    width: var(--circleSize);
    height: var(--circleSize);
    border-radius: 50%;
    background-color: #191919;
    margin: 2em 0 0 2em;
    border-width: 1px;
    border-color: grey;
}

#profile-icon {
    padding: 0.8em 0 0 1em;
    width: 100px;
    height: 100px;
}

.data {
    padding: 1.85em 0 0 4em;
    flex-grow: 1;
}

.item {
    display: flex;
    height: 4em;
    border-bottom: solid;
    border-bottom-color: darkslategrey;
    border-width: 2px;
}

/*The arrow thing on the right*/
.marker {
    position: fixed;
    padding: 1.2em 0 0 595px;
    float: right;
    width: 20px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.marker::before {
    content: '';
    width: 15px;
    height: 15px;
    border-right: 2px solid #434343;
    border-top: 2px solid #434343;
    transform: rotate(45deg) translate(-20px, 20px);
}
/*-------------------------*/

.item a {
    font-size: larger;
    padding-top: 1em;
    padding-left: 1em;
    width: 100%;
    display: block;
    color: #f2f2f2;
    text-decoration: none;
}

item a:first-line {
    margin-top: 1em;
}

.item a:hover {
    background-color: #b6b6b6;
    color: black;
}

