.logo {
    margin-left: 2.75em; !important
}

.anonymous {
    font-size: larger;
    display: grid;
    place-items: center;
}

.btn {
    /* button */
    display: grid;
    place-items: center;
    margin: 1em 0 1em 0;
    border-width: 1px;
    border-color: aliceblue;
    background-color: rgba(0,0,0,0);
    border-style: solid;
    border-radius: 15px;
    width: 200px;
    height: 75px;
    /*------*/

    /*font*/
    font-family: 'Century Gothic';
    font-size: larger;
    font-weight: 1000;
    color: aliceblue;
    text-decoration: none;
    /*----*/
}

.btn:hover {
    background-color: lightgrey;
    color: black;
}
