.logo {
    margin: 6em 0 6em 0;
    width: 500px;
    position: relative;
    top: -9px;
    left: 441px;
}

.lattee {
    position: relative;
    height: 227px;
    width: 228px;
    margin-top: 0px;
}

.Frappe {
    position: relative;
    height: 227px;
    width: 228px;
    top: -634px;
    left: 939px;
    margin-top: 1px;
}

.greentea {
    position: relative;
    height: 227px;
    width: 228px;
    top: -327px;
    left: 569px;
    margin-top: 0px;
}

.latte {
    margin: 6em 0 6em 0;
    height: 100px;
    width: 74px;
    position: relative;
    top: -131px;
    left: 194px;
}

.lattetxt {
    position: relative;
    color: cornsilk;
}

.teatxt {
    position: relative;
    color: cornsilk;
    top: -326px;
    left: 569px;
    margin-top: 15px;
}

.frappetxt {
    position: relative;
    color: cornsilk;
    top: -639px;
    left: 937px;
}

#ContentPlaceHolder1_addLatte {
    position: relative;
    top: -43px;
    left: 200px;
}

#ContentPlaceHolder1_addGreenTea {
    position: relative;
    top: -367px;
    left: 770px;
}

#ContentPlaceHolder1_addFrappe {
    position: relative;
    top: -680px;
    left: 1138px;
}

#ContentPlaceHolder1_vCart {
    display: flex;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 43px;
    left: -671px;
    justify-content: center;
    width: 100%;
}

.viewCart{
    width:100%;
}